

.nav-container2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding : 2px;
    background-color: rgb(8, 8, 115);
    list-style-type: none;
    color: aliceblue;
}

.nav-item{
    padding: 25px;
    cursor:pointer;
}

.nav-item a{
    text-align: center;
    color: aliceblue;
}

.image-box {
    width :max-content;
    height : max-content;
    overflow:hidden;
    margin:0 auto;
}

footer{
    /*display: flex;*/
    background-color: black;
    color: aliceblue;
    text-align: right;
    padding: 1px;
}